/* CSS RESET
----------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
    color: blue;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* CSS Base
----------------------------------- */
body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}
p {
    font-size: 1em;
}
div.container {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    padding: 0px 15px;
}


/* Inputs
----------------------------------- */
input.input {
    width: 100%;
    padding: 5px 9px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
}

/* Inputs
----------------------------------- */
input.input {
    width: 100%;
    padding: 5px 9px;
    border: 1px solid rgb(219, 219, 219);
    background-color: white;
    border-radius: 2px;
    color: #363636;
    height: 36px;
}

input.input:active {
    border-color: #3273dc;
}

/* Buttons Base
----------------------------------- */
.button {
    font-size: 1em;
    font-weight: 400;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    padding: 5px 12px;
    background: white;
    color: #363636;
    cursor: pointer;
}


/* Sizes */
.button.is-small {
    font-size: 0.75em;
    padding: 3px 9px;
} 

.button.normal {
    font-size: 1em;
    padding: 5px 12px;
} 

.button.is-medium {
    font-size: 1.25em;
    padding: 6px 15px;
} 

.button.is-large {
    font-size: 1.5em;
    padding: 8px 18px;
} 

/* Colors */
.button.is-white {
    color: #0a0a0a;
    background-color: white;
    border-color: transparent;   
    text-decoration-color: initial; 
} 

.button.is-light {
    color: #363636;
    background-color:whitesmoke;
    border-color: transparent;   
    text-decoration-color: initial; 
} 

.button.is-dark {
    color: whitesmoke;
    background-color:#363636;
    border-color: transparent;
    text-decoration-color: initial; 
} 

.button.is-black {
    color:white;
    background-color:#0a0a0a ;
    border-color: transparent;
    text-decoration-color: initial; 
} 

.button.is-text {
    color: #4a4a4a;
    background-color: transparent;
    border-color: transparent;  
    text-decoration-color: initial;
    text-decoration-style: initial;
    text-decoration-line: underline;
} 

.button.is-primary {
    color: #fff;
    background-color: #00d1b2;
    border-color: transparent;  
    text-decoration-color: initial;
} 

.button.is-link {
    color: #fff;
    background-color: #3273dc;
    border-color: transparent;  
    text-decoration-color: initial;
}

.button.is-info {
    color: #fff;
    background-color: #209cee;
    border-color: transparent;  
    text-decoration-color: initial;
}

.button.is-success {
    color: #fff;
    background-color: #23d160;
    border-color: transparent;  
    text-decoration-color: initial;
}

.button.is-warning {
    color: rgba(0, 0, 0, 0.7);
    background-color: #ffdd57;
    border-color: transparent;  
    text-decoration-color: initial;
}

.button.is-danger {
    color: #fff;
    background-color: #ff3860;
    border-color: transparent;  
    text-decoration-color: initial;
}

/*  Styles  */
.button.is-outlined {
    color: #363636;
    background-color: white;
    border-color: rgb(219, 219, 219);  
    text-decoration-color: initial;
}

.button.is-primary.is-outlined {
    color: #00d1b2;
    background-color: transparent;
    border-color:#00d1b2;  
    text-decoration-color: initial;
}

.button.is-link.is-outlined {
    color: #3273dc;
    background-color:transparent;
    border-color:#3273dc;  
    text-decoration-color: initial;
}

.button.is-info.is-outlined {
    color: #209cee;
    background-color:transparent;
    border-color:#209cee;  
    text-decoration-color: initial;
}

.button.is-success.is-outlined {
    color: #23d160;
    background-color:transparent;
    border-color:#23d160;  
    text-decoration-color: initial;
}

.button.is-danger.is-outlined {
    color: #ff3860;
    background-color:transparent;
    border-color:#ff3860;  
    text-decoration-color: initial;
}

.button.is-rounded {
    color: #363636;
    background-color: white;
    border-color: rgb(219, 219, 219);  
    text-decoration-color: initial;
    padding: 5px 16px;
    border-radius: 290486px;
}

.button.is-primary.is-rounded {
    color: #fff;
    background-color: #00d1b2;
    border-color:transparent;  
    text-decoration-color: initial;
    padding: 5px 16px;   
    border-radius: 290486px;
}

.button.is-link.is-rounded {
    color: #fff;
    background-color:#3273dc;
    border-color: transparent;  
    text-decoration-color: initial;
    padding: 5px 16px;   
    border-radius: 290486px;    
}

.button.is-info.is-rounded {
    color: #fff;
    background-color:#209cee;
    border-color: transparent;  
    text-decoration-color: initial;
    padding: 5px 16px;
    border-radius: 290486px;    
}

.button.is-success.is-rounded {
    color: #fff;
    background-color:#23d160;
    border-color:transparent;  
    text-decoration-color: initial;
    padding: 5px 16px;
    border-radius: 290486px;    
}

.button.is-danger.is-rounded {
    color: #fff;
    background-color:#ff3860;
    border-color:transparent;  
    text-decoration-color: initial;
    padding: 5px 16px;   
    border-radius: 290486px;   
}

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-flex;
    vertical-align: top;
}

.button:hover, .button.is-hovered {
    border-color: #b5b5b5;
    color: #363636;
}

.button .icon:last-child:not(:first-child) {
    margin-left: 0.1875em;
    margin-right: calc(-0.375em - 1px);
}

.button .icon, .button .icon.is-small, .button .icon.is-medium, .button .icon.is-large {
    height: 1.5em;
    width: 1.5em;
}

.icon {
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-10 {
    width: .625em;
}

svg {
    max-height: 100%;
    max-width: 100%;
}

.dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left:0;
    padding-top:4px;
    z-index: 20;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

.dropdown-content {
    display: block;
    background-color: white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    border-radius: 3px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

a.dropdown-item:hover {
    background-color: whitesmoke;
    color: #0a0a0a;
}

a.dropdown-item {
    padding-right: 3em;
    white-space: nowrap;
}

.dropdown-item {
    color: #4a4a4a;
    display: block;
    font-size: 0.875em;
    line-height: 1.5;
    padding: 0.375rem 1rem;
    position: relative;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a.dropdown-item.is-active {
    background-color: #3273dc;
    color: #fff;
}

.dropdown-divider {
    background-color: #dbdbdb;
    border: none;
    display: block;
    height: 1px;
    margin: 0.5rem 0;
}

.hidden {
    display: none !important;
}
