/* CSS - Header and header components */

/* CSS HEADER */

div.header-container {
    width: 100%;
    height: 50px;
    position: fixed;
    margin: 0 auto;
    background-color: #f1f1f1;
}


/* /* CSS Logo / Imgs
----------------------------------- */

img.logo {
    position: relative;
    width: auto;
    height: 95%;
    border-radius: 12px;
}

header input[type=image] {
    width: auto;
    height: 100%;
    float: right;
}